html{
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
}

body{
	font-family: 'Noto Sans CJK JP';
	margin: 0;
	font-size: 16px;
	font-weight:500;
	color: #333;
	margin: 0;
	line-height: 24px;
	background-size: cover;
	box-sizing: border-box;
	overflow-x: hidden;
}

.header{
    width: auto;
    height: 98px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo img{
	height: 46px;
	width: 129px;
	display: flex;
    justify-content: center;
}

.header .nav{
	flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav ul{
	list-style: none;
    padding: 0;
    margin: 0;
}

.nav li{
	float: left;
}

.nav a{
	font-size: 16px;
    font-family: 'Noto Sans CJK JP';
	font-weight: 100;
    color: #333333;
	display: block;
	color: #333;
	text-align: center;
	cursor: pointer;
	padding: 8px 16px;
	transition: 0.5s;
	text-decoration: none;
}

.nav a:hover{
	background-color: #ddd;
}

.nav a:active{
	background-color: #ccc;
}

.nav a.first{
	margin-left: -16px;
}

.nav a:hover{
	background-color: #BCD8F1;
}

active {
	background-color: #6cf;
}

.header .language-change{
	padding: 0 40px 0 58px;
    font-family: 'Lato';
	font-weight: 700;
	font-size: 16px;
    color: #333333;
}

.introduction div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction1{
	width: auto;
	height: 633px;
	background-image: url(../images/main_img.jpg);
    background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    position: relative;
}

.wire1{
	position: absolute;
    top: -250px;
    left: -250px;
}

.wire2{
	position: absolute;
    transform: rotate(-25deg);
    top: -250px;
    left: 550px;
}

.introduction2{
	width: 100%;
	height: auto;
	padding-top: 140px;
	padding-bottom: 140px;
	background-image: url(../images/main_mask_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.introduction2 h1{
	color: #fff;
}

.introduction2 h3{
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.introduction2 hr{
	background: #fff;
}

.section-title{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	height: auto;
}

.section-title hr{
	margin: 15px 0 5px 0;
}

.introduction2 .section-content{
	width: 60%;
	height: auto;
}

h1{
	height: 32px;
	font-family: 'Lato';
	font-size: 40px;
	font-weight: bold;
	color: #333;
	margin: 0;
}

h2{
	font-weight: bold;
	font-size: 28px;
	color: #fff;
}

h3{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin: 0;
	line-height: 42px;
}

h4{
	font-size: 16px;
	font-weight: 500;
	color: #333;
	margin: 0;
}

h5{
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin: 0;
	text-align: center;
	line-height: 32px;
}

h6{
	font-family: 'Noto Sans CJK JP';
	font-size: 24px;
	color: #fff;
	margin: 0;
}

hr{
	width: 50px;
	height: 2px;
	border-width: 0;
	color:#333;
	background-color:#333;
}

.news{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news .section-content{
	width: 75%;
    height: auto;
    padding: 30px 0 60px 0;
    display: flex;
    flex-direction: row;
}

.section-item{
	padding: 0 23px 0 23px;
}

.news-article{
	height: auto;
	font-size: 14px;
	color: #333;
	font-weight: 500;
	line-height: 24px;
}

.news-page-content{
	width: 75%;
}

.news-page-item hr{
	width:100%;
	height: 1px;
	color: #CDD6DD;
	background: #CDD6DD;
	margin: 37px 0 23px 0;
}

.news-page-content .news-category .section-item{
	padding: 0;
}

.section-item button{
	font-size: 10px;
	color: #26386B;
	margin: 10px 8px 12px 0;
}

.indetail{
	width: 100%;
    display: flex;
    justify-content: center;
}

.news-category-group{
	display: flex;
	flex-direction: row;
}

.news-category{
	text-decoration: none;
}

.news-category-group .category{
	width: 66px;
	height: 24px;
	margin: 9px 15px 9px 0;
	font-family: 'Noto Sans CJK JP';
	font-size: 10px;
	font-weight: 500;
	text-align: center;
	color: #26386B;
	border-color: #26386B;
	border-style:solid;
	border-width: 1px;
	border-radius: 24px;
}

.indetail a{
	text-decoration: none;
	width: 286px;
	height: 62px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #26386B;	
}

.news-popup-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 300ms;
	visibility: hidden;
	opacity: 0;
	padding: 4% 12.5% 4% 12.5%;
}

.news-popup{
    padding: 40px 12.5% 40px 12.5%;
    background: #fff;
    border-radius: 5px;
    width: 75%;
    height: 90%;
    overflow: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.news-popup-overlay:target {
	visibility: visible;
	opacity: 1;
  }

.popup-close{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-decoration-line: none;
    position: relative;
	transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup-close:active {
  color: #fff;
}
.news-popup-overlay .content {
  max-height: 30%;
  overflow: auto;
}

.news-header{
	font-size: 20px;
	color: #333;
	margin: 40px 0 54px 0;
}

.button{
	color: #26386B;
	border-color: #26386B;
	border-style:solid;
	border-width: 2px;
}

.popup-close-section{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.close-text{
	font-size: 12px;
	color: #26386B;
	margin: 8px 0;
}

.popup-close span{
	display: flex;
	justify-content: center;
    align-items: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
	font-size: 30px;
	border-radius: 50px;
	border: 1px;
	border-style: solid;
	border-color: #26386B;
    cursor: pointer;
	transition: 0.3s;
}

.popup-close span:hover{
	background: #bbb;
}

.popup-close span:active{
	background: #26386B;
	color: #fff;
	transition: 0s;
}

.news-article button{
	font-size: 14px;
	font-weight: 500;
	color: #26386B;
}

.news-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.news-content .first{
	padding: 0;
}

div.product-intro{
	background: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-intro .section-title *{
	color: #333;
}

.product-intro .header{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 65%;
	height: fit-content;
	padding: 20px 0 40px 0;
}

.product-content{
	width: 75%;
	box-sizing: border-box;
    background: #FFF;
    padding: 0px 50px 40px 50px;
	margin: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #333;
}

.product-content .description{
	width: 100%;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
}

.product-content .number{
	font-family: 'Lato';
	font-weight:900;
	font-size: 32px;
	color: #26386B;
	margin: -8px 0;
	padding-bottom: 10px;
}

.product-content .title-Jap{
	font-family: 'Noto Sans CJK JP';
	font-weight: Bold;
	font-size: 24px;
	text-align: center;
	line-height: 36px;
	color: #26386B;
	padding: 10px 0 10px 0;
}

.product-content .title-Eng{
	font-family: 'Lato';
	font-weight: Bold;
	font-size: 20px;
	color: #26386B;
	padding-bottom: 15px;
}

.product-content hr{
	width: 39px;
	margin: 5px 0 10px;
	color:#26386B;
	background-color:#26386B;
}

.product-content img{
	width: 100%;
	height: auto;
}

.product-content .window-style{
	width: 100%;
	height: auto;
	display: flex;
    flex-direction: column;
	border: 2px;
	border-style: solid;
	border-color: #26386B;
}

.window-title{
	padding: 10px 20px 10px 20px;
	background-color: #26386B;
}

.window-content{
	padding: 24px 20px 24px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.window-content-item .sub-title{
	font-size: 16px;
	font-weight: Bold;
	color: #26386B;
}

.usecase{
	padding: 80px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.usecase-content{
	width: 75%;
    height: fit-content;
	padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
}

.usecase h3{
	color: #333;
}

.tabs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabs-button{
	font-size: 16px;
	font-weight: Bold;
	width: 25%;
	height: 72px;
	color: #fff;
	cursor: pointer;
	padding: auto;
	border: 0;
	border-radius: 25px 25px 0 0;
	transition: 0.3s;
}

.tabs-button:hover{
	background-color: #88e2f1;
}

.tabs-button:active{
	background-color: hwb(224 23% 36%);
	color: #087AC9;
}

.tab1{
	background: #087AC9;
}

.tab2{
	background: #3CA1E1;
}

.tab3{
	background: #59BAF0;
}

.tab-content{
	width: 100%;
	padding: 40px 0 40px 0;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	height: auto;
	background: #087AC9;

}

.tab-content-fade{
	width: 100%;
	box-sizing: border-box;
	-webkit-animation: fadeEffect 0.6s;
	animation: fadeEffect 0.6s;
}

/* Style the tab content *
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
  }

.usecase .first{
	display: flex;
}

.tab-content-fade{
	width: 72%;
}

.tab-content img{
	width: 100%;
}

.delivery-rec{
	padding: 80px 0 80px 0;
}

.delivery-rec * 	{
	color: #333;
}

.delivery-rec{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delivery-rec .description{
	width: 75%;
	padding: 40px 0 40px 0;
}

.delivery-items{
	width: 72%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.delivery-items .item{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
}

.delivery-item-logo{
	width: 247px;
	height: 132px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	box-shadow: 0 0 6px rgb(3, 3, 3, 0.16);
}

.delivery-item-content{
	flex: 1;
	padding: 0 20px 0 20px;
}

.del-item-title a{
	width: fit-content;
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: flex-end;
	justify-content: flex-start;
	text-decoration: none;
}

.del-item-title a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #26386B;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
.del-item-title a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.del-item-title-text{
	font-size: 20px;
	font-weight: Bold;
	color: #26386B;
}

.del-item-title-img{
	width: 14px;
	height: 14px;
	margin: 0 0 5px 6px;
}

.del-item-content{
	padding-top: 12px;
}

.delivery-items .last{
	padding: 0;
}

.tech-info{
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
	background: #F5F5F5;
}

.tech-info .indetail a{
	width: 280px;
	text-decoration: none;
}

.tech-info .description{
    width: 75%;
	padding: 40px 0 40px 0;
}

.company-profile{
	padding-top: 80px;
    padding-bottom: 80px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-content{
	width: 75%;
	height: fit-content;
	margin:40px 0 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-record{
	width: 100%;
	height: fit-content;
	padding: 19.5px 0 19.5px 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}



.profile-content hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background: #CDD6DD;
}

.profile-classify{
	width: 147px;
}

.profile-value{
	width: 100%;
	flex: 1;
}

.profile-content .first{
	padding-top: 0;
}

.profile-content .last{
	padding-bottom: 17.5;
}

.profile-record{
	width: 100%;
	height: fit-content;
	padding: 19.5px 0 19.5px 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}



.profile-content hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background: #CDD6DD;
}

.profile-classify{
	width: 147px;
}

.profile-value{
	width: 100%;
	flex: 1;
}

.profile-content .first{
	padding-top: 0;
}

.profile-content .last{
	padding-bottom: 17.5;
}

.representative{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.representative div{
	width:100px;
	line-height: 24px;;
}

.history{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 0 20px 0;
	position: relative;
}

.history .title{
	width: 108px;
	font-size: 20px;
	font-weight: Bold;
	color: #26386B;
	padding-top: 2px
}

.history .title::after{
	width: 46px;
	height: 2px;
	content: '';
	position: absolute;
	left: 0;
	top: 30px;
	background-color: #26386B;
}

.history .content{
	flex: 1;
	width: 100%;
}

.profile-record .last{
	margin: 0;
}

.map iframe{
	width: 960px;
	height: 480px;
	border: 0;
}

.inquires{
	background: #F5F5F5;
    padding: 80px 12.5% 80px 12.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inquires .description{
	width: 100%;
	display: flex;
	align-items: flex-start;
	margin: 50px 0 20px 0;
}

.inquires-content{
	width: 100%;
    height: fit-content;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext1{
	display: contents;
}

.subtext2{
	padding-left: 52px;
}

.inquires-record{
	width: 100%;
    height: fit-content;
    padding: 19.5px 0 19.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inquires-content hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background: #CDD6DD;
}

.inquires-classify{
	width: 36.5%;
}

.necessary::before{
	content: '必須';
	color:#fff;
	font-size: 14px;
	background: #CE0000;
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	margin: 0 8px 0 0;
}

.inquires-value{
	width: 100%;
    flex: 1;
	box-sizing: border-box;
}

.inquires-content .first{
	padding-top: 0;
}

.inquires-content .last{
	padding-bottom: 17.5;
}

/*inquiry-purpose Combobox-style start----------*/
/*the container must be positioned relative:*/
.inquiry-purpose {
	position: relative;
	width: 100%;
	height: 50px;
  }
  
.inquiry-purpose select {
/*	display: none; /*hide original SELECT element:*/
	width: 100%;
	height: 100%;
	padding: 0 10px 0 10px;
	font-family: 'Noto Sans CJK JP';
	font-size: 16px;
	font-weight: 500;
	color: #333;
}

.inquires-value input{
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	font-family: 'Noto Sans CJK JP';
	font-size: 16px;
	font-weight: 500;
	color: #333;
	padding: 0 10px 0 10px;
}

.inquires-value .checkbox{
	width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-start;
	align-items: center;
}

input.contact-checkbox{
	width: 30px;
	height: 30px;
	border-radius: 4px;
	display: flex;
	margin: 0 10px 0 0;
}

.inquires-detail{
	width: 100%;
	height: 180px;
	box-sizing: border-box;
	font-family: 'Noto Sans CJK JP';
	font-size: 16px;
	font-weight: 500;
	color: #333;
	padding: 12px 20px 12px;
}

.inuqires .indetail{
	width: 286px;
}

.inquires-content .last{
	padding-bottom: 60px;
}

.footer-root{
	width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.footer{
	width: 75%;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.footer-navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-navbar .nav{
	display: flex;
	justify-content: flex-start;
}

.footer-navbar .language-change{
	padding: 0;
}

.social-icons{
	height: fit-content;
	margin: 4px 0 14px 0;
}

.privacy a{
	font-size: 12px;
	color: #333;
}

.twitter{
	margin: 0 16px 0 16px;
}

.copyright{
	font-family: "Lato";
	font-size: 12px;
	margin: 17px 0;
}

.pagination {
  display: inline-block;
}

.page-button{
	text-align: center;
	color: #98A6B5;
	float: left;
	font-family: 'Source Han Sans JP';
	font-size: 18px;
	padding: 8px 16px;
	text-decoration: none;
}

.page-button{
	text-align: center;
	color: #98A6B5;
	float: left;
	font-family: 'Source Han Sans JP';
	font-size: 18px;
	padding: 8px 16px;
	text-decoration: none;
}

.page-PreNex{
	color: #26386B;
}

.page-button.active {
	background-color: #26386B;
	color: white;
	border-radius: 5px;
}

.page-button:active {
	background-color: #26386B;
	color: #26386B;
	border-radius: 5px;
}

.page-button:hover:not(.active) {
	background-color: #ddd;
	border-radius: 5px;
	cursor: pointer;
}

.classify-line{
	margin-top: 15px;
	margin-bottom: 15px;
}

.privacy-page{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy-page-content{
	width: 75%;
}

.contactus-modify{
	padding-top: 45px;
	padding-bottom: 19px;
}

.contactus-popup-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 300ms;
	visibility: hidden;
	opacity: 0;
	padding: 4% 12.5% 4% 12.5%;
}

.contactus-popup{
    padding: 40px 36px 40px 36px;
    background: #fff;
    border-radius: 5px;
    height: 90%;
    overflow: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.contactus-popup-overlay:target {
	visibility: visible;
	opacity: 1;
}

.inquires-description{
	padding: 40px 0 25px 0;
}

.contactus-popup-content hr{
	width: 100%;
	height: 1px;
	margin: 0;
	background: #CDD6DD;
}

.contactus-modify{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contactus-modify div{
	color: #BABABA;
}

.contactus-modify i{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #BABABA;
	padding: 0 10px;
}

.contactus-verify-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 300ms;
	visibility: hidden;
	opacity: 0;
	padding: 4% 12.5% 4% 12.5%;
}

.contactus-verify-overlay:target {
	visibility: visible;
	opacity: 1;
}